
table{
	width: 50%;
	margin: 0 auto;
}

th {
	color: red;
}

#fila1 {
	color: #ffffff;
	background-color: black;
	border-color: blue;
	border-width: 5px;

}
#fila2 {
	color: yellow;
	background-color: black;
	border-color: red;
}
nav {
  position: absolute;
  left: 0px;
  width: 200px;
  color: red;
  background-color: black;
}
section {
  /* position is static by default */
  margin-left: 200px;
  color: red;
  min-height: 500px;
  max-height: 800px;
  color: blue;
  background-color: blue;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: white;
  width: 100%;
  text-align: center;
}

}
body {
  margin-bottom: 120px;
}
a {
	text-decoration: none;
}
#style {
	color: yellow;
}